@model ClientsideH2.Models.KontaktModel

@{
    ViewData["Title"] = "Kontakt";
}
<div class="KontaktPic">

</div>
<div class="container" style="background-color: white; margin-top: -325px; border-radius: 25px; width: 90%; height: 100%; margin-bottom: 40px;">
    <div class="row">
        <div class="col">
            <p style="font-size: 32px; text-align: center; margin-top: 30px; color: black"> Kontakt <b>Mercedes-Benz</b> allerede idag! </p>
            <p style="text-align: center; font-size: 18px; margin-top: -6px;"> <i>..Find din forhandler herunder..</i></p>
            <img src="~/Images/mercedes-benz-logo-2011-1920x1080.png" style="max-width: 200px; margin-left: 40%"/>
            <br />
            <br />
            <p style="text-align: center; font-size: 18px;"><b> Har du brug for <i>øjeblikkelig</i> assistance? Ring straks og vi sidder klar på: </b></p>
            <p style="text-align: center; font-size: 18px;">Akut telefon: <b>+45<i>13377331</i></b></p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: 50px; margin-top: 8px;">
            <div class="card box" style="width: 24rem; height: 90%; cursor: pointer">
                <img class="card-img-top" src="/Images/Coupe.png" style="margin-top: -15px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: -10px;">MB Århus</h5>
                    <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px; margin-top: -26px;">
                        <i>
                            <br />
                            Telefon: +45 12345678
                            <br />
                            Vej: Ane Staunings Vej 5
                            <br />
                            Åbningstider:
                            <br />
                            Mandag: 9 - 16
                            <br />
                            Tirsdag: 9 - 16
                            <br />
                            Onsdag: 9 - 16
                            <br />
                            Torsdag: 9 - 17
                            <br />
                            Fredag: 9 - 16
                            <br />
                            Lørdag: 9 - 14
                            <br />
                            Søndag: Lukket
                        </i>
                        <br />
                        <img src="/Images/amg1.png" style="max-width: 200px; margin-left: 40%; margin-top: -85px" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col" style="margin-top: 8px;">
            <div class="card box" style="width: 24rem; height: 90%; cursor: pointer">
                <img class="card-img-top" src="/Images/Coupe.png" style="margin-top: -15px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: -10px;">MB Aalborg</h5>
                    <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px; margin-top: -26px;">
                        <i>
                            <br />
                            Telefon: +45 12345678
                            <br />
                            Vej: Ane Staunings Vej 5
                            <br />
                            Åbningstider:
                            <br />
                            Mandag: 9 - 16
                            <br />
                            Tirsdag: 9 - 16
                            <br />
                            Onsdag: 9 - 16
                            <br />
                            Torsdag: 9 - 17
                            <br />
                            Fredag: 9 - 16
                            <br />
                            Lørdag: 9 - 14
                            <br />
                            Søndag: Lukket
                        </i>
                        <br />
                        <img src="/Images/amg2.png" style="max-width: 200px; margin-left: 40%; margin-top: -85px" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin-left: 50px; margin-top: 8px;">
            <div class="card box" style="width: 24rem; height: 90%; cursor: pointer">
                <img class="card-img-top" src="/Images/Coupe.png" style="margin-top: -15px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: -10px;">MB Esbjerg</h5>
                    <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px; margin-top: -26px;">
                        <i>
                            <br />
                            Telefon: +45 12345678
                            <br />
                            Vej: Ane Staunings Vej 5
                            <br />
                            Åbningstider:
                            <br />
                            Mandag: 9 - 16
                            <br />
                            Tirsdag: 9 - 16
                            <br />
                            Onsdag: 9 - 16
                            <br />
                            Torsdag: 9 - 17
                            <br />
                            Fredag: 9 - 16
                            <br />
                            Lørdag: 9 - 14
                            <br />
                            Søndag: Lukket
                        </i>
                        <br />
                        <img src="/Images/amg2.png" style="max-width: 200px; margin-left: 40%; margin-top: -85px" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col" style="margin-top: 8px;">
            <div class="card box" style="width: 24rem; height: 90%; cursor: pointer">
                <img class="card-img-top" src="/Images/Coupe.png" style="margin-top: -15px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: -10px;">MB Odense</h5>
                    <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px; margin-top: -26px;">
                        <i>
                            <br />
                            Telefon: +45 12345678
                            <br />
                            Vej: Ane Staunings Vej 5
                            <br />
                            Åbningstider:
                            <br />
                            Mandag: 9 - 16
                            <br />
                            Tirsdag: 9 - 16
                            <br />
                            Onsdag: 9 - 16
                            <br />
                            Torsdag: 9 - 17
                            <br />
                            Fredag: 9 - 16
                            <br />
                            Lørdag: 9 - 14
                            <br />
                            Søndag: Lukket
                        </i>
                        <br />
                        <img src="/Images/amg1.png" style="max-width: 200px; margin-left: 40%; margin-top: -85px;" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>