@{
    ViewData["Title"] = "Home Page";

}

<div class="backgroundimage">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width: 24rem; background-color: rgba(255, 255, 255, 0.3); border-radius: 25px; margin-top: 90px; margin-left: 10%;">
                    <img class="card-img-top" src="/Images/amggg.png" style="margin-top: -15px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: -75px;">Mercedes-Benz AMG</h5>
                        <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px;">
                            <i>
                                AMG i Afalterbach uden for Stuttgart har igen bygget et ikon af en sportsvogn for Mercedes-Benz.
                                Denne gang hedder den Mercedes AMG GT Coupé – håndbygget motor, allerseneste baneteknologi i drivline og undervogn
                                og en lige linje tilbage til den legendariske Sølvpil fra 50’erne. Det ses tydeligt i linjerne.
                            </i>
                        </p>
                        <a href="#" class="btn btn-dark">Læs mere om AMG</a>
                    </div>
                </div>

                <img class="d-block w-100" style="margin-top: -315px;" src="/Images/amg2.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 24rem; background-color: rgba(255, 255, 255, 0.3); border-radius: 25px; margin-top: 90px; margin-left: 65%;">
                    <img class="card-img-top" src="/Images/Stationcar.png" style="margin-top: -15px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: -65px;">Mercedes-Benz CLA Shooting Brake</h5>
                        <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px;">
                            <i>
                                Med den nye CLA Shooting Brake fra Mercedes-Benz får du det bedste fra alle verdener.
                                Du får et enestående design med coupéens dynamik. Men det betyder langt fra, at den går på kompromis med rummeligheden.
                                Snarere tværtimod. Den er nemlig lige så rummelig som en model i C-klassen.
                            </i>
                        </p>
                        <a href="#" class="btn btn-dark">Læs mere om CLA</a>
                    </div>
                </div>
                <img class="d-block w-100" style="margin-top: -315px;" src="/Images/shooting.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 24rem; background-color: rgba(255, 255, 255, 0.3); border-radius: 25px; margin-top: 90px; margin-left: 10%;">
                    <img class="card-img-top" src="/Images/Stationcar.png" style="margin-top: -15px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: -65px;">Mercedes-Benz GLE</h5>
                        <p class="card-text" style="color: gray; background-color: white; border-radius: 25px; padding: 8px;">
                            <i>
                                Er du til luksus og råstyrke i en og samme bil? Så er Mercedes GLE med garanti noget for dig. GLE-Klassen er alt det,
                                fans af SUV’ere har drømt om: Råstyrke, smidighed, komfort og intelligente løsninger pakket ind i et dynamisk, elegant og
                                respektindgydende sportsligt ydre. Bilen er også super rummelig og en af de største indenfor klassen.
                            </i>
                        </p>
                        <a href="#" class="btn btn-dark">Læs mere om GLE</a>
                    </div>
                </div>

                <img class="d-block w-100" style="margin-top: -315px;" src="/Images/GLB.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div style="box-shadow: 0 0 11px rgba(33,33,33,.2); max-width: 90%; margin-left: 5%">
    <div style="background-color: white; border-radius: 25px; margin-bottom: -40px; margin-top: -40px;">
        <h2 style="text-align: center; padding-top: 60px; text-shadow: 5px 10px 8px #888888;">
            Vi har altid over <b>732.000 biler</b> på lager
            <br />
        </h2>
        <h5 style="text-align: center; margin-left: 10px;"><i>- Se udvalgte biler nedenunder </i></h5>
    </div>
    <div class="grid-container" id="section-2" style="background-color: white; padding-top: 25px;">
        <main class="grid-item main">
            <div class="items">
                <div class="item item1">
                    <img src="~/Images/MB/mb1.png" id="1" style="background-size: contain; max-height: 400px; margin: -80px" />
                </div>
                <div class="item item2">
                    <img src="~/Images/MB/mb2.png" id="2" style="background-size: contain; max-height: 400px; margin: -80px" />
                </div>
                <div class="item item3">
                    <img src="~/Images/MB/mb3.png" id="3" style="background-size: contain; max-height: 400px; margin: -80px" />
                </div>
                <div class="item item4">
                    <img src="~/Images/MB/mb4.png" id="4" style="background-size: contain; max-height: 400px; margin: -80px " />
                </div>
                <div class="item item5">
                    <img src="~/Images/MB/mb5.png" id="5" style="background-size: contain; max-height: 400px; margin: -80px " />
                </div>
            </div>
        </main>
    </div>
    <div class="container" style="background-color: white; margin-bottom: 25px;">
        <div class="row" style="text-align: center;">
            <div class="col-sm box" style="cursor: pointer" onclick="" id="carCoupe">
                <h4 class="headlineboxes" id="namecoupe" style="color: red"><i>Coupe</i></h4>
                <img class="smallpic" src="~/Images/Coupe.png" />
                <br />
                <p class="infotext">
                    Kan man forbedre et design-hit? Ja, Mercedes-Benz kan. Ved introduktionen i 2013 tog CLA’s dristige design de fleste med storm.
                    Med den ny CLA har Mercedes-Benz fintunet de karakteristiske 4-dørs coupe-linjer og givet CLA et endnu mere sportsligt og selvbevidst udtryk.
                    Motorprogrammet består af de nyeste generationer af effektive benzin- og dieselmotorer, hvor høj ydelse kører hånd i hånd med lave CO2 værdier
                    – fra CLA 180 d til AMG CLA 45 med 4-hjulstræk og en acceleration fra 0 til 100 på 4,2 sekunder.
                </p>
            </div>
            <div class="col-sm box" style="cursor: pointer" onclick="" id="carCab">
                <h4 class="headlineboxes" id="namecab" style="color: gray"><i>Cabiolet</i></h4>
                <img class="smallpic" src="~/Images/Cabriolet.png" />
                <br />
                <p class="infotext">
                    Særligt to ændringer har gjort C-Klasse Cabriolet helt unik. En helt ny 4-cylindret motor og en forbedret affjedring giver en køreoplevelse,
                    som både føles mere sporty og alligevel mere behagelig. Allerede her vil vi opfordre dig til at komme ind og mærke forskellen.
                </p>
            </div>
            <div class="col-sm box" style="cursor: pointer" onclick="" id="carStation">
                <h4 class="headlineboxes" id="namestd" style="color: gray"><i>Stationcar</i></h4>
                <img class="smallpic" src="~/Images/Stationcar.png" />
                <br />
                <p class="infotext">
                    Med den nye CLA Shooting Brake fra Mercedes-Benz får du det bedste fra alle verdener.
                    Du får et enestående design med coupéens dynamik. Men det betyder langt fra, at den går på kompromis med rummeligheden.
                    Snarere tværtimod. Den er nemlig lige så rummelig som en model i C-klassen. Det er et bagagerum, der inviterer til eventyr,
                    hvor du nemt kan tage racercyklen eller snowboardet med. Faktisk er der plads til hele 495 liter i bagagerummet.
                    Og med 1,32 meter i bredden har bilen den største bagagerumsbredde, hvis man sammenligner med konkurrenterne.
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    const slider = document.querySelector('.items');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });


    $(window).scroll(function () {
        if ($(this).scrollTop() > 400) {
            $('.scrollup').fadeIn();
        } else {
            $('.scrollup').fadeOut();
        }
    });

    $(document).ready(function () {

    });

    $("#carCab").click(function () {
        $("#1").attr("src", "/Images/MB/mbcoupe1.png");
        $("#2").attr("src", "/Images/MB/mbcoupe2.png");
        $("#3").attr("src", "/Images/MB/mbcoupe3.png");
        $("#4").attr("src", "/Images/MB/mbcoupe4.png");
        $("#5").attr("src", "/Images/MB/mbcoupe5.png");
        $("#namecab").css("color", "red");
        $("#namecoupe").css("color", "gray");
        $("#namestd").css("color", "gray");
    });
    $("#carCoupe").click(function () {
        $("#1").attr("src", "/Images/MB/mb1.png");
        $("#2").attr("src", "/Images/MB/mb2.png");
        $("#3").attr("src", "/Images/MB/mb3.png");
        $("#4").attr("src", "/Images/MB/mb4.png");
        $("#5").attr("src", "/Images/MB/mb5.png");
        $("#namecoupe").css("color", "red");
        $("#namecab").css("color", "gray");
        $("#namestd").css("color", "gray");
    });
    $("#carStation").click(function () {
        $("#1").attr("src", "/Images/MB/mbstd1.png");
        $("#2").attr("src", "/Images/MB/mbstd2.png");
        $("#3").attr("src", "/Images/MB/mbstd3.png");
        $("#4").attr("src", "/Images/MB/mbstd4.png");
        $("#5").attr("src", "/Images/MB/mbstd5.png");
        $("#namestd").css("color", "red");
        $("#namecab").css("color", "gray");
        $("#namecoupe").css("color", "gray");
    });

</script>